.App {
    font-family: sans-serif;
    text-align: center;
  }
  
  .segmented-control .active {
    background: black;
    color: white;
  }
  
  .segmented-control button {
    background: white;
    color: black;
    border: 1px solid black;
    border-left: initial;
    border-right: initial;
    height: 40px;
    width: 140px;
    font-family: sans-serif;
    font-size: 1rem;
    height: 2rem;
    text-align: center;
    cursor: pointer;
  }
  
  .segmented-control button:last-child {
    border-radius: 0 1.25rem 1.25rem 0;
    border: 0.0625rem solid black;
  }
  
  .segmented-control button:first-child {
    border-radius: 1.25rem 0 0 1.25rem;
    border: 1px solid black;
  }
  